

{% extends 'baseAdmin.html.twig' %}

{% block body %}


          <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="card">
              <div
                class="d-sm-flex align-items-center py-3 justify-content-between"
              >
                <h5 class="mb-0 text-gray-800 pl-3">
                  Add New Accout Type
                  <a
                    class="btn btn-primary btn-rounded btn-sm"
                    href="{{path('typeCompte_index')}}"
                    ><i class="fas fa-arrow-left"></i> Back</a
                  >
                </h5>
                <ol class="breadcrumb py-0 m-0">
                  <li class="breadcrumb-item">
                    <a
                      href=""
                      >Dashboard</a
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript:;">Request accout</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a
                      href=""
                      >Accounts
                    >
                  </li>
                  <li class="breadcrumb-item">
                    <a
                      href=""
                      >Add New Account</a
                    >
                  </li>
                </ol>
              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-md-10">
                <!-- Form Basic -->
              <div class="card mb-4">
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Account Type
                    </h6>
                  </div>

                <div class="card-body">
                    <div
                      class="gocover"
                      style="
                        background: url(https://product.geniusocean.com/genius-bank/assets/images/33CiUFaI1641808748.gif)
                          no-repeat scroll center center rgba(45, 45, 45, 0.5);
                      "
                    ></div>                          
                    <table class="table">
                       <tbody>
                           <tr>
                             <th>Type</th>
                             <td>{{ type_compte.type }}</td>
                           </tr>
                          <tr>
                             <th>Description</th>
                            <td>{{ type_compte.description }}</td>
                           </tr>
                      </tbody>
                   </table>
                    <div class="row">
                        <div class="col-md-8" ></div>
                          <div class="col-md-4">
                             <a  class="col-md-3 " >{{ include('type_compte/_delete_form.html.twig') }}</a>
                          </div> 
                    </div>        

                   
                </div>
              </div>
              </div>
            </div>
            <!--Row-->
          </div>
          <!---Container Fluid-->
{% endblock %}
