<form method="post" action="{{ path('app_carnet_cheque_delete', {'id': carnet_cheque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carnet_cheque.id) }}">
    <button class="btn btn-primary ">Delete</button>
</form>
