{% extends 'baseClient.html.twig' %}

{% block body %}
  <div class="page-wrapper">

        <div class="container-xl">
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Beneficiary Details
          </h2>
        </div>

      </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <div class="col-12">
            <div class="card mb-4">
              <div class="card-body">
                  <div class="table-responsive-sm">
                      <table class="table mb-0">
                          <tbody>
                            <tr>
                              <th class="45%" width="45%">Bank Name</th>
                              <td width="10%">:</td>
                              <td class="45%" width="45%">Brac Bank</td>
                            </tr>

                            <tr>
                              <th class="45%" width="45%">Account Name</th>
                              <td width="10%">:</td>
                              <td class="45%" width="45%">dfgfd</td>
                            </tr>

                            <tr>
                              <th class="45%" width="45%">Account Number</th>
                              <td width="10%">:</td>
                              <td class="45%" width="45%">34534534</td>
                            </tr>

                            <tr>
                              <th class="45%" width="45%">Nick Name</th>
                              <td width="10%">:</td>
                              <td class="45%" width="45%">dfgdf</td>
                            </tr>


                                                           
                                  <tr>
                                      <th width="45%">NID_No</th>
                                      <td width="10%">:</td>
                                      <td width="45%">fgdf</td>
                                  </tr>
                                                                                                                    <tr>
                                  <th width="45%">Driving_Lience</th>
                                  <td width="10%">:</td>
                                  <td width="45%"><a href="https://product.geniusocean.com/genius-bank/assets/images/z8Fx62Vi1675664170.png" download=""><img src="https://product.geniusocean.com/genius-bank/assets/images/z8Fx62Vi1675664170.png" class="img-thumbnail"></a></td>
                              </tr>
                                                                                       
                                  <tr>
                                      <th width="45%">Address</th>
                                      <td width="10%">:</td>
                                      <td width="45%">dfgdf</td>
                                  </tr>
                                                        
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>


              </div>
    </div>


{% endblock %}
