{% extends 'baseClient.html.twig' %}

{% block body %}

 <div class="wrapper">
      <header class="navbar navbar-expand-xl navbar-light d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1
            class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
          >
            <a href="https://product.geniusocean.com/genius-bank">
              <img
                src="https://product.geniusocean.com/genius-bank/assets/images/Stww4kQy1645001015.png"
                width="110"
                height="32"
                alt="Tabler"
                class="navbar-brand-image"
              />
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="change-language me-2">
              <select
                name="currency"
                class="currency selectors nice language-bar"
              >
                <option
                  value="https://product.geniusocean.com/genius-bank/currency/1"
                  selected
                >
                  USD
                </option>
                <option
                  value="https://product.geniusocean.com/genius-bank/currency/4"
                >
                  BDT
                </option>
                <option
                  value="https://product.geniusocean.com/genius-bank/currency/6"
                >
                  EUR
                </option>
                <option
                  value="https://product.geniusocean.com/genius-bank/currency/8"
                >
                  NGN
                </option>
                <option
                  value="https://product.geniusocean.com/genius-bank/currency/9"
                >
                  INR
                </option>
              </select>
            </div>
            <a
              href="?theme=dark"
              class="nav-link px-0 hide-theme-dark"
              title="Enable dark mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
                />
              </svg>
            </a>
            <a
              href="?theme=light"
              class="nav-link px-0 hide-theme-light"
              title="Enable light mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="4" />
                <path
                  d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                />
              </svg>
            </a>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex lh-1 text-reset p-0"
                data-bs-toggle="dropdown"
                aria-label="Open user menu"
              >
                <span
                  class="avatar avatar-sm"
                  style="
                    background-image: url(https://product.geniusocean.com/genius-bank/assets/images/16576606414BD963F2-25AD-4236-9452-6D41DFDB92CE.jpeg);
                  "
                ></span>
                <div class="d-none d-xl-block ps-2">
                  <div>dark loard</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a
                  href="https://product.geniusocean.com/genius-bank/user/profile"
                  class="dropdown-item"
                  >Edit Profile</a
                >
                <a
                  href="https://product.geniusocean.com/genius-bank/user/change-password"
                  class="dropdown-item"
                  >Change Password</a
                >
                <a
                  href="https://product.geniusocean.com/genius-bank/user/logout"
                  class="dropdown-item"
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="navbar-expand-xl">
        <div class="collapse navbar-collapse" id="navbar-menu">
          <div class="navbar navbar-light">
            <div class="container-xl">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://product.geniusocean.com/genius-bank/user/dashboard"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <polyline points="5 12 3 12 12 3 21 12 19 12" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                      </svg>
                    </span>
                    <span class="nav-link-title"> Home </span>
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-cash-register"></i>
                    </span>
                    <span class="nav-link-title"> Loan </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/loan-plan"
                    >
                      Loan Plan
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/loans"
                    >
                      All Loans
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/pending-loans"
                    >
                      Pending Loans
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/running-loans"
                    >
                      Running Loans
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/paid-loans"
                    >
                      Paid Loans
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/rejected-loans"
                    >
                      Rejected Loans
                    </a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-warehouse"></i>
                    </span>
                    <span class="nav-link-title"> DPS </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/dps-plan"
                    >
                      Dps Plan
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/dps"
                    >
                      All dps
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/running-dps"
                    >
                      Running dps
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/matured-dps"
                    >
                      Matured dps
                    </a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-user-shield"></i>
                    </span>
                    <span class="nav-link-title"> FDR </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/fdr-plan"
                    >
                      Fdr Plan
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/fdr"
                    >
                      All Fdr
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/running-fdr"
                    >
                      Running Fdr
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/closed-fdr"
                    >
                      Closed Fdr
                    </a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-file-signature"></i>
                    </span>
                    <span class="nav-link-title"> Request Money </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/money-request"
                    >
                      Send Request Money
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/request-money/receive"
                    >
                      Receive Request Money
                    </a>
                  </div>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://product.geniusocean.com/genius-bank/user/deposits"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-hand-holding-usd"></i>
                    </span>
                    <span class="nav-link-title"> Deposit </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://product.geniusocean.com/genius-bank/user/wire-transfer"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-tram"></i>
                    </span>
                    <span class="nav-link-title"> Wire Transfer </span>
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-exchange-alt"></i>
                    </span>
                    <span class="nav-link-title"> Transfer </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/send-money"
                    >
                      Send Money
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/beneficiaries"
                    >
                      Beneficiary Manage
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/other-bank"
                    >
                      Other Bank Transfer
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/tranfer-logs"
                    >
                      Transfer History
                    </a>
                  </div>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://product.geniusocean.com/genius-bank/user/withdraw"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-file-signature"></i>
                    </span>
                    <span class="nav-link-title"> Withdraw </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="https://product.geniusocean.com/genius-bank/user/package"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fab fa-affiliatetheme"></i>
                    </span>
                    <span class="nav-link-title"> Pricing Plan </span>
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#navbar-extra"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    role="button"
                    aria-expanded="false"
                  >
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                      <i class="fas fa-suitcase"></i>
                    </span>
                    <span class="nav-link-title"> More </span>
                  </a>
                  <div class="dropdown-menu">
                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/two-factor"
                    >
                      2FA Security
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/referrals"
                    >
                      Referred Users
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/referral-commissions"
                    >
                      Referral Commissions
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/admin/messages"
                    >
                      Support Tickets
                    </a>

                    <a
                      class="dropdown-item"
                      href="https://product.geniusocean.com/genius-bank/user/transactions"
                    >
                      Transactions
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <h2 class="page-title">New Beneficiary</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card p-5">
                  <div
                    class="gocover"
                    style="
                      background: url(https://product.geniusocean.com/genius-bank/assets/images/5monWltX1641808745.gif)
                        no-repeat scroll center center rgba(45, 45, 45, 0.5);
                    "
                  ></div>
                  <form
                    action="https://product.geniusocean.com/genius-bank/user/beneficiaries/store"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <input
                      type="hidden"
                      name="_token"
                      value="vR3eXGkdlb2WWaaLMMakQUdvmL2t5FszaT4AsjYX"
                    />
                    <div class="form-group">
                      <label class="form-label required">Others Bank</label>
                      <select
                        name="other_bank_id"
                        class="form-select bankId"
                        required
                      >
                        <option value="">Select Bank</option>
                        <option
                          value="6"
                          data-requirements='[{"field_name":"NID","type":"text","validation":"required"}]'
                        >
                          Dutch Bangla Bank
                        </option>
                        <option
                          value="3"
                          data-requirements='[{"field_name":"NID No","type":"text","validation":"required"},{"field_name":"Driving Lience","type":"file","validation":"required"},{"field_name":"Address","type":"textarea","validation":"required"}]'
                        >
                          Brac Bank
                        </option>
                      </select>
                    </div>

                    <div class="form-group mb-3 mt-3">
                      <label class="form-label required">Account Number</label>
                      <input
                        name="account_number"
                        id="account_number"
                        class="form-control"
                        autocomplete="off"
                        placeholder="000.000.0000"
                        type="text"
                        value=""
                        min="1"
                        required
                      />
                    </div>

                    <div class="form-group mb-3 mt-3">
                      <label class="form-label required">Account Name</label>
                      <input
                        name="account_name"
                        id="account_name"
                        class="form-control"
                        autocomplete="off"
                        placeholder="Jhon Doe"
                        type="text"
                        value=""
                        min="1"
                        required
                      />
                    </div>

                    <div class="form-group mb-3 mt-3">
                      <label class="form-label required">Nick Name</label>
                      <input
                        name="nick_name"
                        id="nick_name"
                        class="form-control"
                        autocomplete="off"
                        placeholder="Doe"
                        type="text"
                        value=""
                        min="1"
                        required
                      />
                    </div>

                    <div id="required-form-element"></div>
                    <div class="form-footer">
                      <button type="submit" class="btn btn-primary w-100">
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}