{% extends 'baseClient.html.twig' %}

{% block body %}


 <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-header d-print-none">
            <div class="row align-items-center">
              <div class="col">
                <div class="page-pretitle">Overview</div>
                <h2 class="page-title">Transfer Logs</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table
                      class="table table-vcenter table-mobile-lg card-table"
                    >
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Transaction Number</th>
                          <th>Account No</th>
                          <th>Account Name</th>
                          <th>Type</th>
                          <th>Amount</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-label="Date">Feb 13, 2023</td>
                          <td data-label="Transaction Number">
                            pUFg1676282030
                          </td>

                          <td data-label="Account No">GS23060807282893</td>
                          <td data-label="Account Name">Dark Loard</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">1000</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 12, 2023</td>
                          <td data-label="Transaction Number">
                            7RNf1676167018
                          </td>

                          <td data-label="Account No">GS22063247333537</td>
                          <td data-label="Account Name">Meenamohan</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">300</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 12, 2023</td>
                          <td data-label="Transaction Number">
                            Vs1X1676166992
                          </td>

                          <td data-label="Account No">GS23060807282893</td>
                          <td data-label="Account Name">Dark Loard</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">100</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 11, 2023</td>
                          <td data-label="Transaction Number">
                            n66c1676117570
                          </td>

                          <td data-label="Account No">GS22013644509981</td>
                          <td data-label="Account Name">Gsi</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">1000</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 9, 2023</td>
                          <td data-label="Transaction Number">
                            h40d1675948252
                          </td>

                          <td data-label="Account No">GS23060807282893</td>
                          <td data-label="Account Name">Dark Loard</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">1</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 6, 2023</td>
                          <td data-label="Transaction Number">
                            fZCO1675698192
                          </td>

                          <td data-label="Account No">GS22013644509981</td>
                          <td data-label="Account Name">Gsi</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">1</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Feb 6, 2023</td>
                          <td data-label="Transaction Number">
                            BJCG1675664066
                          </td>

                          <td data-label="Account No">GS23060807282893</td>
                          <td data-label="Account Name">Dark Loard</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">10</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Jan 26, 2023</td>
                          <td data-label="Transaction Number">
                            fDg01674733886
                          </td>

                          <td data-label="Account No">GS22063247333537</td>
                          <td data-label="Account Name">Meenamohan</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">1</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Jan 26, 2023</td>
                          <td data-label="Transaction Number">
                            vxsY1674727878
                          </td>

                          <td data-label="Account No">GS22013644509981</td>
                          <td data-label="Account Name">Gsi</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">155</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Date">Jan 26, 2023</td>
                          <td data-label="Transaction Number">
                            ExfC1674727862
                          </td>

                          <td data-label="Account No">GS22063247333537</td>
                          <td data-label="Account Name">Meenamohan</td>

                          <td data-label="Type">own Bank</td>
                          <td data-label="Amount">100</td>
                          <td data-label="Status">
                            <span class="badge bg-success">Completed</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <nav>
                    <ul class="pagination">
                      <li
                        class="page-item disabled"
                        aria-disabled="true"
                        aria-label="&laquo; Previous"
                      >
                        <span class="page-link" aria-hidden="true"
                          >&lsaquo;</span
                        >
                      </li>

                      <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=2"
                          >2</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=3"
                          >3</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=4"
                          >4</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=5"
                          >5</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=6"
                          >6</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=7"
                          >7</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=8"
                          >8</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=9"
                          >9</a
                        >
                      </li>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=10"
                          >10</a
                        >
                      </li>

                      <li class="page-item">
                        <a
                          class="page-link"
                          href="https://product.geniusocean.com/genius-bank/user/tranfer-logs?page=2"
                          rel="next"
                          aria-label="Next &raquo;"
                          >&rsaquo;</a
                        >
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


{% endblock %}